<div class="container custom-container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
            <div class="slider-height">
                <div class="slider-height-item"></div>
                <div class="slider-height-item"></div>
            </div>
            <div class="slider-width">
                <div class="slider-width-item"></div>
                <div class="slider-width-item"></div>
            </div>
            <div class="login-box">                
                <div class="card-body custom-body">
                  <div class="header-label-box">
                    <span class="header-label-big-thin">HOW TO</span><span class="header-label-big-bold"> PUSH</span><br>
                    <span class="header-sub-label">Notification's provider</span>
                  </div>
                  <form class="form-signin">
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control custom-input" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputEmail" class="form-control custom-input" placeholder="Password" required autofocus>
                    </div>
                    <div class="social-button-box">
                        <div class="social-button social-font"><i class="fa fa-facebook-f social-icon"></i><span class="social-icon-text">USING FACEBOOK</span></div>
                        <div class="social-button social-font"><i class="fa fa-google-plus social-icon"></i><span class="social-icon-text">USING GOOGLE</span></div>
                    </div>
                    <div class="form-bottom-item-box">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label option-font" for="exampleCheck1">Stay Logged in</label>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-link forgot-password option-font">Forgot Password?</button>
                        </div>
                    </div>                    
                  </form>
                  <div class="form-last-bottom-box">
                        <div class="form-last-bottom-first">
                            <span class="account-text">Don't have an account?</span><button type="submit" class="btn signup">SIGN UP</button>
                        </div>
                        <div class="form-last-bottom-second">
                            <button type="button" class="btn btn-secondary custom-login-btn">LOGIN IN</button>
                        </div>
                   </div>
                </div>
            </div>
            <div class="slider-width">
                <div class="slider-width-item"></div>
                <div class="slider-width-item"></div>
            </div>
            <div class="slider-height-bottom">
                <div class="slider-height-item"></div>
                <div class="howto"><span class="howtotext">HOW TO PUSH  &copy; 2018</span></div>
                <div class="slider-height-item"></div>
            </div>
        </div>
    </div>
</div>